$font-roboto:"Roboto","Helvetica Neue",Arial,sans-serif;
$font-size:14px;

$font-color:#fff;
$font-alt:#5b6e88;
$dark-blue:#141b2d;
$mid-blue:#232e48;
$light-blue:#1f2940;
$red:#ee335e;
$red-alt:#f95374;
$blue:#045cd6;
$blue-alt:#0162e8;
$green:#22c03c;
$green-alt:#2e8a01;
$gray:#737f9e;
$gray-alt:#5f6d88;
$yellow:#fbbc0b;
$yellow-alt:#d39e00;
$menu-color: rgba(255, 255, 255, 0.6);
